/*<meta />*/

p.MyStyle
{
	font-size: 12pt;
	margin: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

body
{
	font-family: Lato;
	font-weight: 400;
}

.button{
	font-weight: bold;
}

.text-right{
	text-align: right;
}

.text-right h1{
	font-size: 3em;
	font-weight: 500;
	margin: 10px 15px 0 0;
	color:#777;
}

.home-content{
	margin-top: 0px !important;
}

nav.tab-bar {
	border-bottom: 1px solid #e7e7e7;
}

a.exatouch-button{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #636f7f;
	border-radius: 5%;
	height: 135px;
	border: none;
	text-align: center;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	padding: 25px 0;
	width: 100%;
}

a.exatouch-button-reserved{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #e1e4e9;
	border-radius: 5%;
	height: 135px;
	border: none;
	text-align: center;
	color: #777;
	text-transform: uppercase;
	text-decoration: none;
	padding: 25px 0;
	width: 100%;
}

a.exatouch-button-reserved:hover{
	background-color: #e1e4e9;
}
a.exatouch-button:hover{
	background-color: #4177bb;
}

.exatouch-button i{
	display: block;
    font-size: 3em;
    margin-bottom: .5em;
}

.home-call-install{
	color: #4177bb;
	padding: 40px;
	background-color:#f8f8f8;
}

.home-call-install h2{
	font-weight: 700;
	margin-top: 0;
}

.space-top{
	margin-top:2em !important;
}

.space-top-xl{
	margin-top:4em !important;
}

.search-field{
	font-weight: 400;
}

._Skins_SideMenu{
	background-color: #f8f8f8;
	padding: 0px !important;
}

ul.menu._Skins_SideMenu.mc-component a {
    text-transform: uppercase;
}

ul.menu._Skins_SideMenu.mc-component li > a {
    background-color: #4177bb;
	padding: 10px;
	color: #fff;
}

ul.menu._Skins_SideMenu.mc-component li > a:hover {
    background-color: #4177bb;
	padding: 10px;
	color: #fff;
}
