/*<meta />*/

p{
	margin-bottom: 20px;
}

img{
	border: none;
}

a.Popup{
	
}

body{
	font-family: Lato;
	font-weight: 400;
}

.button{
	font-weight: bold;
}

.text-right{
	text-align: right;
}

.text-right h1{
	font-size: 3em;
	font-weight: 500;
	margin: 10px 15px 0 0;
	color:#777;
}

.home-content{
	margin-top: 0px !important;
}

nav.tab-bar {
	border-bottom: 1px solid #e7e7e7;
}

a.exatouch-button{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #636f7f;
	border-radius: 5%;
	height: 135px;
	border: none;
	text-align: center;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	padding: 25px 0;
	width: 100%;
	margin-bottom: 25px;
}

a.exatouch-button-reserved{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #fff;
	border-radius: 5%;
	height: 135px;
	border: none;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 25px 0;
	width: 100%;
}

a.exatouch-button-reserved:hover{
	background-color: #fff;
}
a.exatouch-button:hover{
	background-color: #4177bb;
}

.exatouch-button i{
	display: block;
    font-size: 3em;
    margin-bottom: .5em;
}

.home-call-install{
	color: #4177bb;
	padding: 40px;
	background-color:#f8f8f8;
}

.home-call-install h2{
	font-weight: 700;
	margin-top: 0;
}

.space-top{
	margin-top:2em !important;
}

.space-top-xl{
	margin-top:4em !important;
}

.search-field{
	font-weight: 400;
}

._Skins_SideMenu{
	background-color: #f8f8f8;
	padding: 0px !important;
}

ul.menu._Skins_SideMenu.mc-component a {
    text-transform: uppercase;
}

ul.menu._Skins_SideMenu.mc-component li > a {
	padding: 10px;
	color: #fff;
}

.pg-title{
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 5px;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 20px;
}

.pg-title-home{
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 5px;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 5px;
	font-size: 1.5em;
}

#content-section.mc-blurb p {
    margin-top: 0;
    margin-bottom: 25px !important;
}

.navigation{
	text-transform: uppercase;
	font-weight: 700;
}

a.MCBreadcrumbsLink:hover, a.xref:hover{
	color: #3b77bb;
}

ul.navigation ul{
	background-color: #e8e8e8;
	border:thin solid #686868;
}

ul.navigation > li.has-children:after {
	
}

ul.navigation ul > li:hover{
	background-color: #e7e7e7;
}

div.MCMiniTocBox_0{
	border: none;
	padding: 0px;
}

div.MCMiniTocBox_0 a{
	font-weight: normal !important;
}

.MCDropDown{
	color:#8E8E8E;
	font-weight: 400;
	font-size: .85em;
}

.steps>li{
	padding-bottom: 20px;
}

.readmore{
	padding: 20px;
	background-color: #e7e7e7;
	font-style: italic;
	font-weight: 300;
	font-size: .85em;
}

.mc-component{
	color:#777;
}

[class*="column"] + [class*="column"]:last-child {
    float:left;
}

ul.menu._Skins_SideMenu.mc-component li > a {
    text-transform: none;
    color: #777;
    font-size: .85em;
    text-decoration: underline;
    border: 1px solid #e7e7e7;
	margin-top:-1px;
}

ul.menu._Skins_SideMenu.mc-component li > a:hover {
    text-transform: none;
    color: #777;
    font-size: .85em;
    text-decoration: underline;
    border: 1px solid #e7e7e7;
}

ul.menu._Skins_SideMenu.mc-component ul > li > a {
    padding:0px;
    background-color: transparent;
    color: #777;
    font-weight: 300 !important;
    font-size: .85em;
    text-transform: none;
    border: 1px solid #e7e7e7;
    margin-top: -1px;
    margin-bottom: 0px;
    text-decoration: underline;
}

ul.menu._Skins_SideMenu.mc-component li > a.selected {
    background-color: lightgray;
    font-size: .85em;
    border-color: #e7e7e7;
	padding: 10px;
	font-weight: normal;
}

ul.menu._Skins_SideMenu.mc-component li > a.selected:hover {
    background-color: lightgray;
    font-size: .85em;
    border-color: #e7e7e7;
	padding: 10px;
}

ul.menu._Skins_SideMenu.mc-component li > a.selected:hover{
	font-weight: normal;
	background-color: #cacaca;
}

@media only screen and (min-width : 767px){
    .menuProxyTitle{
		background: #3b77bb;
    	display: block !important;
    	padding: 10px;
    	font-family: 'Roboto Condensed';
    	color: #fff;
    	font-weight: 700;
    	text-transform: uppercase;
	}
}
.menuProxyTitle{
    display: none;
}
.relatedTopics{
	font-family: 'Roboto Condensed';
}

.MCRelatedTopicsControlListItem {
    border: 1px solid #e7e7e7;
    margin-top: -1px;
    margin-bottom: 0px;
    padding: 5px 10px;
}

.MCRelatedTopicsControlListItem a {
    color: #777;
	font-size: .85em;
}

.MCHelpControl-Related .MCHelpControl-RelatedHotSpot_.MCHelpControl-RelatedHotSpot__Skins_SideMenu {
    background-position: left;
    background-image: none;
    padding-left: 5px;
    padding-right: 0;
	color: #fff;
    background-color: #3b77bb;
    display: block;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.MCHelpControl-Related .MCHelpControl-RelatedHotSpot_ {
    background-position: left;
    background-image: none;
    padding-left: 5px;
    padding-right: 0;
}

.MCHelpControl span {
    background-image: none;
    padding-left: 18px;
}

.MCHelpControl_Image_Icon {
    border: none;
	display: none;
}

.MCRelatedTopicsControlList {
    list-style-type: none;
    padding-left: 0px;
	margin:0px;
}

.summary{
	margin-top: -15px;
    margin-bottom: 50px;
    color: #777;
    font-style: italic;
}

.steps{
	color:#727272;
	padding-left: 15px;
}

.Button{
	font-weight: bold;
	color: #4d4d4d;
}

img.MCPopupThumbnail{
	display: block;
	padding-top: 10px;
}

.MCDropDown_Open .MCDropDownHotSpot_.MCHotSpotImage {
    background-position: left;
    background-image: url(../Images/DropDownOpen.gif);
    padding-left: 1px;
    padding-right: 0;
	color: #4d4d4d;
    text-transform: uppercase;
    font-weight: bold;
}

.MCDropDown_Closed .MCDropDownHotSpot_.MCHotSpotImage {
    background-position: left;
    background-image: url(../Images/DropDownClosed.gif);
    padding-left: 0px;
    padding-right: 0;
	color: #4d4d4d;
    text-transform: uppercase;
    font-weight: bold;
}

.MCDropDownBody ul{
	padding-left: 0px;
}

.dropDownHead {
    text-decoration: none;
    margin: 20px 0px 5px;
    border-bottom: 1px solid #e8e8e8;
}

.button-icon{
	margin-bottom: -10px;
}

p.note, p.tip{
	font-weight: 300;
	position: relative;
	font-size: .85em;
}
p.note{
	background-color: cornsilk;
	padding: 20px;
    border: thin solid #e7e7e7;
}

p.note i{
	color: goldenrod;
}

p.tip{
	padding: 20px;
    border: thin solid #e7e7e7;
    background-color: aliceblue;
}

p.tip i {
    color: #2c8ecc;
}

p.tip i, p.note i {
    position: inherit;
    top: 5px;
	padding-right: 5px;
	font-size: 1.3em;
}

a.MiniTOC1:link, a.MiniTOC1:visited {
	color: #3b77bb;
    text-decoration: underline;
}

p.MiniTOC1_0 {
	margin: 10px 0px;
}

#mc-background-tint{
    opacity: 0.85 !important;
    background-color: #3b77bb;
	z-index: 2;
}

.navigation-wrapper {
    float: right;
    display: none;
}

.tab-bar-section.middle {
    width: 100%;
    left: 0;
    right: 0;
    height: auto;
    min-height: 3em;
}

.pg-subtitle{
	font-weight: 700;
    text-transform: uppercase;
    color: #4d4d4d;
    border-bottom: 1px solid #e7e7e7;
}